<template>
    <div>
        <v-simple-table class="ma-2">
            <thead>
            <tr>
                <th class="text-left">id</th>
                <th class="text-left">Name</th>
                <th class="text-left">Surname</th>
                <th class="text-left">Age</th>
                <v-btn class="mx-2" fab dark color="green"  @click="OpenModal2()">
                    <v-icon dark>mdi-plus</v-icon>
                </v-btn>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in tableData" :key="row">
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.surname }}</td>
                <td>{{ row.age }}</td>
                <v-btn class="mx-2" fab dark small color="red" @click="deleteRow(row.id)">
                    <v-icon dark>mdi-minus</v-icon>
                </v-btn>
                <v-btn class="ma-2" outlined small fab color="indigo" @click="openModal(row)">
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
            </tr>
            </tbody>
        </v-simple-table>


        <v-dialog v-model="isShowModal" max-width="590" >
            <v-card class="dialog_form">
                <v-text-field v-model="editRow.id" label="id"/>
                <v-text-field v-model="editRow.name" label="Name"/>
                <v-text-field v-model="editRow.surname" label="Surname"/>
                <v-text-field v-model="editRow.age" label="Age"/>
                <button @click="editItem(editRow.id)">save</button>
                <hr>
                <button @click="closeHandler">Close</button>
            </v-card>
        </v-dialog>
        <v-dialog v-model="openModalPost">
            <v-card class="dialog_form">
                <v-text-field v-model="Post.name" label="Name"/>
                <v-text-field v-model="Post.surname" label="Surname"/>
                <v-text-field v-model="Post.age" label="Age"/>
                <div class="dialog__button">

                </div>
                <v-btn class="ma-2" color="success"  @click="postRow()">save</v-btn>
                <hr>
                <v-btn color="red" class="ma-2" @click="closeHandler">Close</v-btn>
            </v-card>
        </v-dialog>

    </div>

</template>

<script>


    import axios from 'axios';
    import Vuetify from "vuetify";

    export default {
        name: 'get-api',
        vuetify: new Vuetify(),
        data() {
            return {
                isShowModal: false,
                openModalPost: false,

                tableData: [
                    {
                        id: '',
                        name: '',
                        surname: '',
                        age: ''
                    }
                ],
                editRow: {
                    id: '',
                    name: '',
                    surname: '',
                    age: ''
                },
                Post: {
                    id: '',
                    name: '',
                    surname: '',
                    age: ''
                }
            }
        },
        mounted() {
            this.loadData();
        },

        methods: {
            deleteRow(id) {
                axios
                    .delete("http://127.0.0.1:8000/DeleteApi/" + id)
                    .finally(() => {
                        this.loadData();
                    })

            },
            loadData() {
                axios
                    .get('http://127.0.0.1:8000/getApi')
                    .then(response => (this.tableData = response.data))
            },
            editItem() {
                axios
                    .patch('http://127.0.0.1:8000/putApi', {
                        id: this.editRow.id,
                        name: this.editRow.name,
                        surname: this.editRow.surname,
                        age: this.editRow.age
                    })
                    .finally(() => this.isShowModal = false)

            },
            postRow() {
                axios
                    .post('http://127.0.0.1:8000/PostApi', {
                        name: this.Post.name,
                        surname: this.Post.surname,
                        age: this.Post.age
                    })
                    .finally(() => this.openModalPost = false)
                .finally(() => {this.loadData()})
            },
            openModal(row) {
                this.editRow = row;

                this.isShowModal = true;

                // eslint-disable-next-line no-console
                console.log(this.isShowModal);
            },
            OpenModal2() {
                this.Post ;
                this.openModalPost = true;
            },
            closeHandler() {
                this.isShowModal = false;
                this.openModalPost = false;
            },
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
    .dialog_form {
        padding: 15px;
    }

    .form {
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: azure;
    }
</style>
