<template>
    <div>
        <router-link to="/">Home</router-link>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header text-center">Post Data</div>
                        <div class="card-body">
                            <form @submit="formSubmit">
                                <div class="form-group">
                                    <strong class="text-left">id:</strong>
                                    <input type="text" class="form-control" v-model="id">
                                    <strong class="text-left">name</strong>
                                    <input type="text" class="form-control" v-model="name">
                                    <strong class="text-left">Surname</strong>
                                    <input type="text" class="form-control" v-model="surname">
                                    <strong class="text-left">Age</strong>
                                    <input type="text" class="form-control" v-model="age">
                                </div>
                                <div class="form-group">
                                </div>
                                <button class="btn btn-primary">Add User</button>
                            </form>
                            <router-link to="/get">Get</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
    <script>
    import axios from 'axios'

    export default {
        name: 'post-api',
        components: {
        },
        data() {
            return {
                id: '',
                name: '',
                surname: '',
                age: ''
            }
        },
        methods: {
            formSubmit(e) {
                e.preventDefault();
                axios
                    .post('http://127.0.0.1:8000/PostApi', {
                        id: this.id,
                        name: this.name,
                        surname: this.surname,
                        age: this.age
                    })
                    // eslint-disable-next-line no-console
                    .then(response => (console.log(response.data)))
                    // eslint-disable-next-line no-console
                    .catch(error => (console.log(error)))
                    .finally(() => this.loading = false)
            }
        }
    }


</script>