<!--<template>-->
<!--    <v-dialog v-model="OpenModalPost">-->
<!--        <v-card>-->
<!--            <v-text-field v-model="Post.id" label="Id"/>-->
<!--            <v-text-field v-model="Post.name" label="Name"/>-->
<!--            <v-text-field v-model="Post.surname" label="Surname"/>-->
<!--            <v-text-field v-model="Post.age" label="Age"/>-->
<!--            <button @click="postRow(Post)">save</button>-->
<!--            <hr>-->
<!--            <button @click="closeHandler">Close</button>-->
<!--        </v-card>-->
<!--    </v-dialog>-->
<!--</template>-->

<!--import axios from 'axios';-->
<!--import Vuetify from "vuetify";-->

<!--<script>-->
<!--    import axios from "axios";-->
<!--    import Vuetify from "vuetify";-->

<!--    export default {-->
<!--        name: 'post-modal',-->
<!--        vuetify: new Vuetify(),-->
<!--        data() {-->
<!--            return {-->
<!--                OpenModalPost: false,-->

<!--                Post: {-->
<!--                    id: '',-->
<!--                    name: '',-->
<!--                    surname: '',-->
<!--                    age: ''-->
<!--                },-->
<!--                methods: {-->
<!--                    postRow() {-->
<!--                        axios-->
<!--                            .post('http://127.0.0.1:8000/PostApi', {-->
<!--                                name: this.Post.name,-->
<!--                                surname: this.Post.surname,-->
<!--                                age: this.Post.age-->
<!--                            })-->
<!--                            .finally(() => this.openModalPost = false)-->
<!--                    },-->
<!--                    OpenModal2(row) {-->
<!--                        this.Post = row;-->
<!--                        this.OpenModalPost = true;-->

<!--                        -->
<!--                    }-->
<!--                }-->

<!--            }-->
<!--        }-->
<!--    }-->

<!--</script>-->